#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    width: 100%;
}

#inspire {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.container.fill-height {
    align-items: normal;
}
a.side_bar_link {
    text-decoration: none;
}
.card__title--primary, .card__text {
    text-align: left;
}
.card {
    height: 100% !important;
}
a.add_movie{
    text-decoration: none;
}
a.title{
    text-decoration: none;
}
a:hover.title{
    text-decoration: none;
}