<template>
  <v-timeline>
      <v-timeline-item color="blue-grey lighten-2" fill-dot v-for="(movie, index) in movies" :key="index">
        <span class="grey--text" slot="opposite">{{ movie.release_year }} ‧ {{ movie.genre }}</span>
        <v-card>
          <v-card-title class="blue-grey lighten-2">
            <v-icon dark size="42" class="mr-3">
              movie
            </v-icon>
            <v-btn flat v-bind:to="`/movies/${movie._id}`" class="title"><h2 class="display-1 white--text font-weight-light">{{ movie.name }}</h2></v-btn>
          </v-card-title>
          <v-container>
            <v-layout>
              <v-flex xs12>
                {{ movie.description }}
              </v-flex>
            </v-layout>
          </v-container>
          <v-card-footer>
            <v-rating
              v-model="rating"
              background-color="orange lighten-3"
              color="orange"
              medium
              readonly="true"
            ></v-rating>
          </v-card-footer>
        </v-card>
      </v-timeline-item>
  </v-timeline>
</template>
<script>
import axios from 'axios'
export default {
  name: 'Movies',
  data () {
    return {
      movies: [],
      show: false
    }
  },
  mounted () {
    this.fetchMovies()
  },
  methods: {
    async fetchMovies () {
      const token = window.localStorage.getItem('auth')
      return axios({
        method: 'get',
        url: '/movies',
        headers: {
          Authorization: `JWT ${token}`,
          'Content-Type': 'application/json'
        }
      })
        .then((response) => {
          this.movies = response.data.movies
          this.current_user = response.data.current_user
        })
        .catch(() => {})
    }
  }
}
</script>
