<template>
  <v-card>
    <v-toolbar card color="blue-grey lighten-2" dark dense>
      <v-toolbar-title class="body-2">{{ movie.name }}</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      {{ movie.description }}
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" v-if="current_user" class="card-title"  @click="rate">Rate this movie</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import axios from 'axios'
import Vue from 'vue'
import StarRating from 'vue-star-rating'
const wrapper = document.createElement('div')
// shared state
const state = {
  note: 0
}
// create component to content
const RatingComponent = Vue.extend({
  data () {
    return { rating: 0 }
  },
  watch: {
    rating (newVal) { state.note = newVal }
  },
  template: `
    <div class="rating">
      How was your experience getting help with this issues?
      <star-rating v-model="rating" :show-rating="false"></star-rating>
    </div>`,
  components: { 'star-rating': StarRating }
})
const component = new RatingComponent().$mount(wrapper)
export default {
  name: 'Movie',
  data () {
    return {
      movie: []
    }
  },
  mounted () {
    this.fetchMovie()
  },
  methods: {
    async rate () {
      this.$swal({
        content: component.$el,
        buttons: {
          confirm: {
            value: 0
          }
        }
      }).then(() => {
        const movieId = this.$route.params.id
        return axios({
          method: 'post',
          data: {
            rate: state.note
          },
          url: `http://localhost:8081/movies/rate/${movieId}`,
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(() => {
            this.$swal(`Thank you for rating! ${state.note}`, 'success')
          })
          .catch((error) => {
            const message = error.response.data.message
            this.$swal('Oh oo!', `${message}`, 'error')
          })
      })
    },
    async fetchMovie () {
      return axios({
        method: 'get',
        url: `http://localhost:8081/api/movies/${this.$route.params.id}`
      })
        .then((response) => {
          this.movie = response.data
        })
        .catch(() => {})
    }
  }
}
</script>
